@font-face {
    font-family: Roboto-Light;
    src: url(fonts/Roboto_Condensed-ExtraLightItalic.ttf);
    
}
@font-face {
    font-family: Roboto-Litti;
    src: url(fonts/Roboto_Condensed-Thin.ttf);
}

body{
    background-color: rgb(207, 165, 165);
}
h1{
    color: brown;
    font-family: Roboto-Light, arial;
    font-size: 70px;

    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    /* border: 3px solid black; */

    text-shadow: 3px 3px 5px red, -3px -3px 5px rgb(0, 225, 255) ;   /* horizontal-offset  vertical-offset blur */

}
#box11{
    width: 100px;
    height: 100px;
    background-color: aqua;
    box-shadow: 3px 3px 5px;
}

#p1{
    color: red;
    font-family: arial, "courier new";
    font-size: 20px;

    border-top: 3px solid rgb(255, 0, 0);
    border-bottom: 3px dashed rgb(0, 94, 94);
    border-right: 3px dotted saddlebrown;
    border-left: 3px double gold;
    border-radius: 15px;
}

#p2{
    color: yellow;
    font-weight: bold;
}

#p3{
    color: white;
    font-style: oblique;
}

#p4{
    color: blue;

}

/* Class wise css */

/* .even{
    color: blue;
}
.odd{
    color: red; 
} */

.box{
    border: 5px solid;
    font-size: 3em;
    width: 200px;
    height: 150px;
}

#box1{
    background-color: aqua;
    /* margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px; */
    margin: 50px;
}
#box2{
    background-color: red;
    margin-left: auto;          /* auto sets the element to the left*/
}