body{
    background-color: rgb(0, 0, 0);
}
h1{
    color: brown;
}
#p1{
    color: red;
}
#p2{
    color: yellow;
}
#p3{
    color: white;
}
#p4{
    color: blue;
}

/* Class wise css */

/* .even{
    color: blue;
}
.odd{
    color: red; 
} */